Repository alexxbout/hackathon-istic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_back_image, build_auth_image, build_front_image

build_back_image:
  stage: build
  script:
  - apt-get update && apt-get install -y docker.io
  - docker info
  - echo "Building Docker image for backend"
  - cd back/app/
  - docker build -t ${DOCKER_IMAGE_NAME}-back:latest .
  - echo "Tagging Docker image"
  - VERSION=$(date +%Y%m%d%H%M%S)
  ...

build_auth_image:
  stage: build
  script:
  - apt-get update && apt-get install -y docker.io
  - docker info
  - echo "Building Docker image for authentication service"
  - cd back/auth/
  - docker build -t ${DOCKER_IMAGE_NAME}-auth:latest .
  - echo "Tagging Docker image"
  - VERSION=$(date +%Y%m%d%H%M%S)
  ...

build_front_image:
  stage: build
  script:
  - apt-get update && apt-get install -y docker.io
  - docker info
  - echo "Building Docker image for front service"
  - cd front/hackathon_groupe_3
  - docker build -t ${DOCKER_IMAGE_NAME}-front:latest .
  - echo "Tagging Docker image"
  - VERSION=$(date +%Y%m%d%H%M%S)
  ...

update pool.sql
  back/data/pools.sql
Due: none

test
  ansible/roles/deployment_auth/files/service_auth/service.yml
  ansible/roles/deployment_back/files/deployment.yml
Due: none

test
  ansible/roles/deployment_auth/files/auth/ldap-service.yml
  ansible/roles/deployment_auth/files/service_auth/service.yml
Due: none

test
  ansible/roles/deployment_auth/files/auth/ldap-service.yml
  ansible/roles/deployment_auth/files/service_auth/service.yml
  ansible/roles/deployment_back/files/deployment.yml
Due: none

pipeline trigger
  back/app/pom.xml
  back/auth/pom.xml
  front/hackathon_groupe_3/package.json
Due: build_back_image, build_auth_image, build_front_image

Front proxy
  ansible/roles/deployment_front/files/deployment.yml
  back/docker-compose.yaml
  docker-compose.yaml
  front/hackathon_groupe_3/Dockerfile.dev
  front/hackathon_groupe_3/Dockerfile.prod
  front/hackathon_groupe_3/nuxt.config.ts
Due: build_front_image

updated dockerfile prod
  .gitlab-ci.yml
Due: none

readme
  README.md
Due: none

Resolve "Front 3 : Désactiver bouton d'ajout de profils à un projet lorsqu'aucun profil n'est sélectionné"
  front/hackathon_groupe_3/pages/profils.vue
Due: build_front_image

fixed ldap startup
  back/app/src/main/resources/application.properties
  back/auth/src/main/resources/application.properties
  docker-compose.yaml
Due: build_back_image, build_auth_image

removed ldap container because it does not work
  docker-compose.yaml
Due: none

Resolve "Bug Back error 500 route Post pool (create Pool)"
  back/app/src/main/java/fr/istic/app/pool/api/mappers/PoolDtoMapper.java
Due: build_back_image

test docker-compose
  back/app/src/main/resources/application.properties
  back/auth/src/main/resources/application.properties
  docker-compose.yaml
Due: build_back_image, build_auth_image

test docker-compose [skip-ci]
  back/auth/Dockerfile
  docker-compose.yaml
Due: build_auth_image

Resolve "bug back error 500 pool et profil"
  back/app/src/main/java/fr/istic/app/pool/domain/usecases/CreatePoolUseCase.java
Due: build_back_image

update docker-compose ldap [skip-ci]
  docker-compose.yaml
Due: none

added container to inject sql data
  back/data/main.sql
  docker-compose.yaml
Due: none

Resolve "back-end end session if user changes firstlogin"
  back/app/src/main/java/fr/istic/app/authApi/api/service/LdapUserService.java
Due: build_back_image

Docker compose inject data fixes
  back/data/init-db.sh
  docker-compose.yaml
Due: none

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Front int auth
  front/hackathon_groupe_3/app.vue
  front/hackathon_groupe_3/components/Header.vue
  front/hackathon_groupe_3/components/SearchBar.vue
  front/hackathon_groupe_3/composables/useAuth.ts
  front/hackathon_groupe_3/middleware/auth.ts
  front/hackathon_groupe_3/nuxt.config.ts
  front/hackathon_groupe_3/pages/accueil.vue
  front/hackathon_groupe_3/pages/index.vue
  front/hackathon_groupe_3/pages/login.vue
  front/hackathon_groupe_3/pages/pools.vue
  front/hackathon_groupe_3/pages/profils.vue
  front/hackathon_groupe_3/pages/projets.vue
  front/hackathon_groupe_3/types/entities.ts
  front/hackathon_groupe_3/types/utilsApi.ts
Due: build_front_image

Front int profils
  front/hackathon_groupe_3/components/CardProfil.vue
  front/hackathon_groupe_3/components/SearchBar.vue
  front/hackathon_groupe_3/pages/profils.vue
Due: build_front_image

Resolve "Erreur 500 PUT Profil"
  back/app/src/main/java/fr/istic/app/profil/domain/usecases/UpdateProfilUseCase.java
Due: build_back_image

test pipeline
  back/data/data_model.json
Due: none

deploy auth
  back/auth/src/main/java/fr/istic/auth/controller/UserController.java
Due: build_auth_image

Resolve "Implement Search EndPoint"
  back/app/src/main/java/fr/istic/app/common/domain/exception/SearchParamsAllNull.java
  back/app/src/main/java/fr/istic/app/common/domain/exception/enums/ExceptionMessages.java
  back/app/src/main/java/fr/istic/app/common/domain/exception/handler/GlobalExceptionHandler.java
  back/app/src/main/java/fr/istic/app/matchProfilCompetence/persistence/jpa/MatchProfilCompetenceRepository.java
  back/app/src/main/java/fr/istic/app/profil/api/controllers/ProfilController.java
  back/app/src/main/java/fr/istic/app/profil/domain/usecases/DeleteProfilUseCase.java
  back/app/src/main/java/fr/istic/app/profil/domain/usecases/SearchProfilUseCase.java
  back/app/src/main/java/fr/istic/app/profil/domain/usecases/UpdateProfilUseCase.java
  back/app/src/main/java/fr/istic/app/profil/persistence/jpa/ProfilRepository.java
Due: build_back_image

Correction pool delete
  back/app/src/main/java/fr/istic/app/matchPoolCompetence/persistence/jpa/MatchPoolCompetenceRepository.java
  back/app/src/main/java/fr/istic/app/pool/domain/usecases/DeletePoolUseCase.java
Due: build_back_image

Fix delete method to use pool ID and update repository method name
  back/app/src/main/java/fr/istic/app/matchPoolCompetence/persistence/jpa/MatchPoolCompetenceRepository.java
  back/app/src/main/java/fr/istic/app/pool/domain/usecases/DeletePoolUseCase.java
  back/app/src/main/java/fr/istic/app/profil/persistence/jpa/ProfilRepository.java
Due: build_back_image

Front int edit/info profils
  back/data/competences.sql
  back/data/pools.sql
  back/data/projets.sql
  front/hackathon_groupe_3/components/BadgeSkill.vue
  front/hackathon_groupe_3/components/CardPool.vue
  front/hackathon_groupe_3/components/CardProjet.vue
  front/hackathon_groupe_3/components/Header.vue
  front/hackathon_groupe_3/components/PdfViz.vue
  front/hackathon_groupe_3/components/SearchBar.vue
  front/hackathon_groupe_3/components/TableProfils.vue
  front/hackathon_groupe_3/components/TableUsers.vue
  front/hackathon_groupe_3/components/modals/AddProfillProjectModal.vue
  front/hackathon_groupe_3/components/modals/ProfileModal.vue
  front/hackathon_groupe_3/composables/useAuth.ts
  front/hackathon_groupe_3/nuxt.config.ts
  front/hackathon_groupe_3/pages/accueil.vue
  front/hackathon_groupe_3/pages/index.vue
  front/hackathon_groupe_3/pages/login.vue
  front/hackathon_groupe_3/pages/pools.vue
  front/hackathon_groupe_3/pages/profils.vue
  front/hackathon_groupe_3/pages/projets.vue
  front/hackathon_groupe_3/types/entities.ts
  front/hackathon_groupe_3/types/utilsApi.ts
Due: build_front_image

rollback backend-service
  front/hackathon_groupe_3/nuxt.config.ts
Due: build_front_image

Profil POST
  front/hackathon_groupe_3/components/modals/ProfileModal.vue
  front/hackathon_groupe_3/pages/profils.vue
  front/hackathon_groupe_3/types/utilsApi.ts
Due: build_front_image

Profile post bis
  front/hackathon_groupe_3/pages/profils.vue
Due: build_front_image

Resolve "Ajout communication back avec service d'auth"
  .gitlab-ci.yml
  ansible/hosts
  ansible/roles/deployment_auth/files/auth/deployment.yml
  ansible/roles/deployment_auth/files/auth/ldap-configmap.yml
  ansible/roles/deployment_auth/files/auth/ldap-service-config.yml
  ansible/roles/deployment_auth/files/auth/ldap-service.yml
  ansible/roles/deployment_auth/files/service_auth/auth-service-secret.yml
  ansible/roles/deployment_auth/files/service_auth/deployment.yml
  ansible/roles/deployment_auth/files/service_auth/service-config.yml
  ansible/roles/deployment_auth/files/service_auth/service.yml
  ansible/roles/deployment_auth/tasks/main.yml
  ansible/roles/deployment_back/files/deployment.yml
  ansible/roles/deployment_back/files/service-config.yml
  ansible/roles/deployment_back/tasks/main.yml
  ansible/roles/deployment_front/files/ingress.yml
  ansible/roles/deployment_front/files/service-config.yml
  ansible/roles/deployment_front/tasks/main.yml
  back/app/pom.xml
  back/app/src/main/java/fr/istic/app/security/SecurityConfig.java
  back/auth/Dockerfile
  docker-compose.yaml
Due: build_back_image, build_auth_image

updated readem
  README.md
Due: none

removed useless files
  .DS_Store
Due: none

small changes
  README.md
Due: none

Path conditions:
  build_back_image: any of: back/app/**/*
  build_auth_image: any of: back/auth/**/*
  build_front_image: any of: front/**/*
