Repository alexxbout/hackathon-istic: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build_back_image, build_auth_image, build_front_image, liquibase_update, deploy_auth, deploy_back, deploy_front

build_back_image:
  stage: build
  script:
  - apt-get update && apt-get install -y docker.io
  - docker info
  - echo "Building Docker image for backend"
  - cd back/app/
  - docker build -t ${DOCKER_IMAGE_NAME}-back:latest .
  - echo "Tagging Docker image"
  - VERSION=$(date +%Y%m%d%H%M%S)
  ...

build_auth_image:
  stage: build
  script:
  - apt-get update && apt-get install -y docker.io
  - docker info
  - echo "Building Docker image for authentication service"
  - cd back/auth/
  - docker build -t ${DOCKER_IMAGE_NAME}-auth:latest .
  - echo "Tagging Docker image"
  - VERSION=$(date +%Y%m%d%H%M%S)
  ...

build_front_image:
  stage: build
  script:
  - apt-get update && apt-get install -y docker.io
  - docker info
  - echo "Building Docker image for front service"
  - cd front/hackathon_groupe_3
  - docker build -t ${DOCKER_IMAGE_NAME}-front:latest .
  - echo "Tagging Docker image"
  - VERSION=$(date +%Y%m%d%H%M%S)
  ...

liquibase_update:
  stage: db
  image: liquibase/liquibase
  script:
  - liquibase update --driver=org.postgresql.Driver --url="jdbc:postgresql://148.60.11.35:5432/postgres" --changeLogFile=src/main/resources/db/changelog/db.changelog-master-for-pipeline.yaml --username=postgres --password=azerty123

deploy_auth:
  stage: deploy
  tags:
  - prod
  before_script:
  - apt-get update && apt-get install -y ansible sshpass
  script:
  - echo "Deploying authentification..."
  - ansible-playbook ansible/playbooks/deployment_auth.yml -i ansible/hosts

deploy_back:
  stage: deploy
  tags:
  - prod
  before_script:
  - apt-get update && apt-get install -y ansible sshpass
  script:
  - export ANSIBLE_CONFIG=ansible/ansible.cfg
  - echo "Deploying authentification..."
  - ansible-playbook ansible/playbooks/deployment_back.yml -i ansible/hosts

deploy_front:
  stage: deploy
  tags:
  - prod
  before_script:
  - apt-get update && apt-get install -y ansible sshpass
  script:
  - export ANSIBLE_CONFIG=ansible/ansible.cfg
  - echo "Deploying authentification..."
  - ansible-playbook ansible/playbooks/deploiement_front.yml -i ansible/hosts

Delete .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

Resolve "Front : Intégration page Projets"
  front/hackathon_groupe_3/components/CardProjet.vue
  front/hackathon_groupe_3/components/Header.vue
  front/hackathon_groupe_3/components/modals/ProfileModal.vue
  front/hackathon_groupe_3/components/modals/ProjectModal.vue
  front/hackathon_groupe_3/pages/profils.vue
  front/hackathon_groupe_3/pages/projects.vue
  front/hackathon_groupe_3/pages/projets.vue
  front/hackathon_groupe_3/tailwind.config.ts
  front/hackathon_groupe_3/types/entities.ts
  front/hackathon_groupe_3/types/modals.ts
Due: build_front_image, deploy_front

Edit db.changelog-master.yaml
  back/app/src/main/resources/db/changelog/db.changelog-master-for-pipeline.yaml
Due: build_back_image, deploy_back

fixed bugs
  front/hackathon_groupe_3/components/modals/ProfileModal.vue
Due: build_front_image, deploy_front

small changes
  front/hackathon_groupe_3/components/modals/ProfileModal.vue
Due: build_front_image, deploy_front

fixed style bug
  front/hackathon_groupe_3/components/SearchBar.vue
Due: build_front_image, deploy_front

updated login page style
  front/hackathon_groupe_3/pages/login.vue
  front/hackathon_groupe_3/public/assets/images/img-cv.png
  front/hackathon_groupe_3/public/assets/images/pattern.png
Due: build_front_image, deploy_front

Rename changelog file and update path for included changes
  back/app/src/main/resources/db/changelog/db.changelog-master.yaml
Due: build_back_image, deploy_back

Resolve "Front : Page création d'un compte"
  front/hackathon_groupe_3/components/CreateUser.vue
  front/hackathon_groupe_3/components/DeleteUser.vue
  front/hackathon_groupe_3/components/Header.vue
  front/hackathon_groupe_3/components/TableProfils.vue
  front/hackathon_groupe_3/components/TableUsers.vue
  front/hackathon_groupe_3/pages/accueil.vue
  front/hackathon_groupe_3/types/entities.ts
  front/hackathon_groupe_3/types/roles.ts
  front/hackathon_groupe_3/types/utilsApi.ts
Due: build_front_image, deploy_front

Add Liquibase changelog for database schema modifications
  back/app/src/main/resources/db/changelog/changes/db.changelog-21022025.yaml
Due: build_back_image, deploy_back

Deleted last changelog
  back/app/src/main/resources/db/changelog/changes/db.changelog-21022025.yaml
Due: build_back_image, deploy_back

Add Liquibase changelog for dropping and modifying database columns
  back/app/src/main/resources/db/changelog/changes/db.changelog-21022025.yaml
Due: build_back_image, deploy_back

Update .gitlab-ci.yml file
  .gitlab-ci.yml
Due: none

Resolve "FIX Delete Profil"
  back/app/src/main/java/fr/istic/app/common/domain/exception/ProfilExistsInReservationException.java
  back/app/src/main/java/fr/istic/app/common/domain/exception/enums/ExceptionMessages.java
  back/app/src/main/java/fr/istic/app/common/domain/exception/handler/GlobalExceptionHandler.java
  back/app/src/main/java/fr/istic/app/matchProfilCompetence/persistence/jpa/MatchProfilCompetenceRepository.java
  back/app/src/main/java/fr/istic/app/profil/domain/usecases/CreateProfilDtoUseCase.java
  back/app/src/main/java/fr/istic/app/profil/domain/usecases/DeleteProfilUseCase.java
  back/app/src/main/java/fr/istic/app/reservation/persistence/jpa/ReservationRepository.java
Due: build_back_image, deploy_back

trigger pipeline
  back/app/src/main/resources/application.properties
  back/auth/src/main/resources/application.properties
  front/hackathon_groupe_3/package.json
Due: build_back_image, build_auth_image, build_front_image, deploy_auth, deploy_back, deploy_front

deleted last changelog because useless
  back/app/src/main/resources/db/changelog/changes/db.changelog-21022025.yaml
Due: build_back_image, deploy_back

Resolve "Front 1: Appliquer pool sur profils"
  front/hackathon_groupe_3/components/CardPool.vue
  front/hackathon_groupe_3/pages/login.vue
  front/hackathon_groupe_3/pages/pools.vue
  front/hackathon_groupe_3/pages/profils.vue
Due: build_front_image, deploy_front

Resolve "Front : Modal assigner profils à un projet"
  front/hackathon_groupe_3/components/Card.vue
  front/hackathon_groupe_3/components/CreateUser.vue
  front/hackathon_groupe_3/components/Header.vue
  front/hackathon_groupe_3/components/SearchBar.vue
  front/hackathon_groupe_3/components/TableProfils.vue
  front/hackathon_groupe_3/components/modals/AddProfillProjectModal.vue
  front/hackathon_groupe_3/components/modals/ProfileModal.vue
  front/hackathon_groupe_3/pages/accueil.vue
  front/hackathon_groupe_3/pages/pools.vue
  front/hackathon_groupe_3/pages/profils.vue
  front/hackathon_groupe_3/pages/projets.vue
  front/hackathon_groupe_3/public/assets/images/pattern.png
  front/hackathon_groupe_3/types/entities.ts
  front/hackathon_groupe_3/types/roles.ts
  front/hackathon_groupe_3/types/utilsApi.ts
Due: build_front_image, deploy_front

Front : Intégration page Pools
  front/hackathon_groupe_3/components/CardPool.vue
  front/hackathon_groupe_3/components/DeleteUser.vue
  front/hackathon_groupe_3/components/Header.vue
  front/hackathon_groupe_3/components/PoolModal.vue
  front/hackathon_groupe_3/components/TableUsers.vue
  front/hackathon_groupe_3/pages/pools.vue
  front/hackathon_groupe_3/types/entities.ts
  front/hackathon_groupe_3/types/roles.ts
Due: build_front_image, deploy_front

Resolve "Lier le back avec auth"
  back/app/pom.xml
  back/app/src/main/java/fr/istic/app/authApi/api/controller/LdapUserController.java
  back/app/src/main/java/fr/istic/app/authApi/api/dtos/AuthRequest.java
  back/app/src/main/java/fr/istic/app/authApi/api/dtos/AuthResponse.java
  back/app/src/main/java/fr/istic/app/authApi/api/dtos/UserDto.java
  back/app/src/main/java/fr/istic/app/authApi/api/dtos/UserInfoDto.java
  back/app/src/main/java/fr/istic/app/authApi/api/service/LdapUserService.java
  back/app/src/main/java/fr/istic/app/authApi/api/utils/SessionUtils.java
  back/app/src/main/resources/application.properties
  back/auth/src/main/java/fr/istic/auth/controller/UserController.java
  back/auth/src/main/resources/application.properties
Due: build_back_image, build_auth_image, deploy_auth, deploy_back

Resolve "integrer les fichiers cv dans la bdd"
  back/app/src/main/java/fr/istic/app/common/domain/exception/enums/ExceptionMessages.java
  back/app/src/main/java/fr/istic/app/profil/api/controllers/ProfilController.java
  back/app/src/main/java/fr/istic/app/profil/api/dtos/ProfilDto.java
  back/app/src/main/java/fr/istic/app/profil/api/mappers/ProfilDtoMapper.java
  back/app/src/main/java/fr/istic/app/profil/domain/model/CV.java
  back/app/src/main/java/fr/istic/app/profil/domain/model/Profil.java
  back/app/src/main/java/fr/istic/app/profil/domain/usecases/CreateCVUseCase.java
  back/app/src/main/java/fr/istic/app/profil/domain/usecases/CreateProfilDtoUseCase.java
  back/app/src/main/java/fr/istic/app/profil/domain/usecases/ReadCVUseCase.java
  back/app/src/main/java/fr/istic/app/profil/domain/usecases/UpdateProfilUseCase.java
  back/app/src/main/java/fr/istic/app/profil/persistence/jpa/CVRepository.java
Due: build_back_image, deploy_back

Resolve "Back: Transfert Data main branch"
  back/data/competences.sql
  back/data/data_model.json
  back/data/match_pool_competence.sql
  back/data/match_profil_competence.sql
  back/data/pools.sql
  back/data/profils.sql
  back/data/projets.sql
  back/data/reservations.sql
  back/data/roles.sql
  back/data/sites.sql
  back/data/users.sql
Due: none

add last db changelog + pipeline trigger
  back/app/src/main/resources/db/changelog/changes/db.changelog-21022025.yaml
  back/app/src/main/resources/liquibase.properties
  back/auth/src/main/resources/application.properties
  front/hackathon_groupe_3/package.json
Due: build_back_image, build_auth_image, build_front_image, deploy_auth, deploy_back, deploy_front

Correction ingress deploy front
  ansible/roles/deployment_front/files/ingress.yml
Due: none

change dossier data
  back/data/competences.sql
  back/data/match_pool_competence.sql
  back/data/match_profil_competence.sql
  back/data/pools.sql
  back/data/profils.sql
  back/data/projets.sql
  back/data/reservations.sql
  back/data/roles.sql
  back/data/sites.sql
  back/data/users.sql
Due: none

Upload New File
  back/data/main.sql
Due: none

Resolve "add preauthorize partout"
  back/app/pom.xml
  back/app/src/main/java/fr/istic/app/authApi/api/controller/LdapUserController.java
  back/app/src/main/java/fr/istic/app/authApi/api/utils/SessionUtils.java
  back/app/src/main/java/fr/istic/app/common/domain/service/AuthSecurityService.java
  back/app/src/main/java/fr/istic/app/common/domain/service/RoleSecurityService.java
  back/app/src/main/java/fr/istic/app/security/SecurityConfig.java
Due: build_back_image, deploy_back

update data profils.sql
  back/data/profils.sql
Due: none

Edit ldap-service.yml
  ansible/roles/deployment_auth/files/auth/ldap-service.yml
Due: none

Resolve "Docker"
  back/app/docker-compose.yaml
  back/auth/Dockerfile
  back/docker-compose.yaml
Due: build_back_image, build_auth_image, deploy_auth, deploy_back

remove all db changelog and add only one
  back/app/src/main/java/fr/istic/app/projet/domain/model/Projet.java
  back/app/src/main/resources/db/changelog/changes/db.changelog-18022025.yaml
  back/app/src/main/resources/db/changelog/changes/db.changelog-19022025.yaml
  back/app/src/main/resources/db/changelog/changes/db.changelog-20022025.yaml
  back/app/src/main/resources/db/changelog/changes/db.changelog-21022025.yaml
Due: build_back_image, deploy_back

db changelog
  back/app/src/main/resources/db/changelog/changes/db.changelog-21022025.yaml
Due: build_back_image, deploy_back

Path conditions:
  build_back_image: any of: back/app/**/*
  build_auth_image: any of: back/auth/**/*
  build_front_image: any of: front/**/*
  liquibase_update: any of: src/main/resources/db/changelog/**/*
  deploy_auth: any of: back/auth/**/*
  deploy_back: any of: back/app/**/*
  deploy_front: any of: front/**/*
